window {
    font-family: JetBrainsMono NFP;
    font-size: 20pt;
    color:  #000000; /* text */
    background-color: rgba(24, 27, 32, 0.2);

} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: alpha(#1e1e2e, 0.4);
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: none;
    border-radius: 36px;
    border-width: 0;
    margin: 10px;
    color: #ffffff;
}

button:focus {
    box-shadow: none;
    background-size : 20%;
}

button:hover {
    background-size: 22%;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
    background-image: image(url("/home/breakcore/.assets/icons/power.png"));
}
#shutdown:hover {
  background-image: image(url("/home/breakcore/.assets/icons/power-hover.png"));
}

#logout {
    background-image: image(url("/home/breakcore/.assets/icons/logout.png"));

}
#logout:hover {
  background-image: image(url("/home/breakcore/.assets/icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("/home/breakcore/.assets/icons/restart.png"));
}
#reboot:hover {
  background-image: image(url("/home/breakcore/.assets/icons/restart-hover.png"));
}

#lock {
    background-image: image(url("/home/breakcore/.assets/icons/lock.png"));
}
#lock:hover {
  background-image: image(url("/home/breakcore/.assets/icons/lock-hover.png"));
}

#suspend {
    background-image: image(url("/home/breakcore/.assets/icons/hibernate.png"));
}
#suspend:hover {
  background-image: image(url("/home/breakcore/.assets/icons/hibernate-hover.png"));
}

#hibernate {
    background-image: image(url("/home/breakcore/.assets/icons/sleep.png"));
}
#hibernate:hover {
  background-image: image(url("/home/breakcore/.assets/icons/sleep-hover.png"));
}

